<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTMX Canvas Grid</title>
    <script src="https://unpkg.com/htmx.org@1.9.5"></script>
    <style>
        canvas {
            border: 1px solid #ccc;
            image-rendering: pixelated; /* Ensures crisp edges */
        }
    </style>
</head>
<body>

<h1>1 Billion Cells</h1>
<div>
    <label for="BlockXAmount">X: </label><input type="number" id="BlockXAmount"/>
    <label for="BlockYAmount">Y: </label><input type="number" id="BlockYAmount"/>
    <button id="teleportButton">Teleport</button>
</div>
<canvas id="gridCanvas"></canvas>
<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script src="javascript/Render.js"></script>
</body>
</html>